
img{
    width: 300px;
}

.bg-blue{
    background-color: rgb(17, 17, 71);
}

.bg-acqua{
    background-color: rgb(36, 148, 148);
}

.my-form{
    border: 0;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.btn-acqua{
    color: #fff;
    border-color:rgb(36, 148, 148);
    background-color: rgb(36, 148, 148);
}